<ul>
  <li>
    Sort By
    <ul>
      <li><a href="/client/products?sort_by=price">Price Low to High</a></li>
      <li><a href="/client/products?sort_by=price&&sort_order=desc">Price High to Low</a></li>
      <li><a href="/client/products?sort_by=name">Name A to Z</a></li>
      <li><a href="/client/products?sort_by=name&&sort_order=desc">Name Z to A</a></li>
    </ul>
  </li>
  <li>
    Categories
    <ul>
      <li><a href="/client/products?category=Expensive AF">Expensive AF</a></li>
      <li><a href="/client/products?category=Domestic">Domestic Cars</a></li>
      <li><a href="/client/products?category=Italian">Italian Cars</a></li>
      <li><a href="/client/products?category=VW Group">VW Group Cars</a></li>
      <li><a href="/client/products?category=UK">UK Cars</a></li>
      <li><a href="/client/products?category=Japan">Japanese Cars</a></li>
    </ul>
  </li>
</ul>





<%= form_tag "/client/products", method: :get do %>
  <input type="text" name="search" placeholder="Search Cars!">
  <input type="submit" name="whatisup">
<% end %>


<% @products.each do |product| %>
<h2><a href="/client/products/<%= product["id"] %>"><%= product["name"] %></a></h2>

<% if product["discounted"] %>
    <h3>Discount Item!</h3>
<% else %>
    <h3>Everday Value!</h3>
<% end %>

<h3 class="<%= "red" if product["discounted"] %>"><%= product["formatted"]["price"] %></h3>

<h4><%= product["description"] %></h4>
<img src="<%= product['image_url'] %>" alt="">
<br>
<% end %>