<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if @jwt %>
      <h6>You are signed in.</h6>
    <% end %>
    <a href="/">Home</a> </br>
    <a href="/client/products/new">New Supercar</a>
    <br>
    <a href="/signup">Sign Up!</a>
    <br>
    <a href="/login">Log In</a>
    <a href="/logout" data-method="delete">Log Out</a>
    <br>
    <a href="/client/carted_products">View Cart</a>
    <br>
    <% flash.each do |name, message| %>
      <br>
      <%= message %>
    <% end %>

    <%= yield %>
  </body>
</html>
